@tailwind base;
@tailwind components;
@tailwind utilities;

/* font Caveat Brush */


::-moz-selection {
    color: #fff;
    background: #775f32;
}

::selection {
    color: #fff;
    background: #775f32;
}

* {
    margin: 0px;
    padding: 0px;
    /* scroll smoth */
    scroll-behavior: smooth;
}


body {

    /* agar tidak bisa di select text dan img */
    /* user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none */
}

@font-face

/*perintah untuk memanggil font eksternal*/
    {
    font-family: 'Caveat';
    /*memberikan nama bebas untuk font*/
    src: url('../font/CaveatBrush-Regular.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}


.caveat {
    font-family: 'Caveat';
}




.text-gradasi1 {
    background: #CC9A51;
    background: linear-gradient(to right, #CC9A51 30%, #8C4A3A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradasi2 {
    background: #FFC994;
    background: linear-gradient(to top right, #FFC994 32%, #F59C8E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}